name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

env:
  CARGO_TERM_COLOR: always

jobs:
  build-and-upload:
    name: Build and Upload
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            asset_name: zenith-cli-linux-amd64
            executable_name: zenith-cli
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            asset_name: zenith-cli-windows-amd64.exe
            executable_name: zenith-cli.exe
          - os: macos-latest
            target: x86_64-apple-darwin
            asset_name: zenith-cli-macos-amd64
            executable_name: zenith-cli

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Build Release
        run: cargo build --release --target ${{ matrix.target }}

      - name: Rename and Prepare Asset
        shell: bash
        run: |
          cp target/${{ matrix.target }}/release/${{ matrix.executable_name }} ${{ matrix.asset_name }}

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ${{ matrix.asset_name }}
          generate_release_notes: true
